{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/board.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="./board.css">
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.css">

<style>
    .ck.ck-editor__main p { min-height: 300px; margin-left: 10px; font-size: 16px !important; }
</style>
{% endblock %}

{% block title %}게시글 작성{% endblock %}

{% block content %}
{% include "nav.html" %}

<div class="form-wrapper">
    <form class="form-template quiz-add" onsubmit="return WriteBoard();">
        <h1 class="form-title">게시글 작성</h1>
    
        <hr>
    
        <div class="form-content">
    
            <div class="form-row row-1">
                <input type="text" class="form-control" id="title" name="title" placeholder="제목" required>
            </div>
    
            <div class="form-row row-2">
                <div>
                    <div class="editor-container editor-container_classic-editor" id="editor-container">
                        <div class="editor-container__editor"><div id="editor" name="content"></div></div>
                    </div>
                </div>
                <script type="importmap">
                {
                    "imports": {
                        "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.js",
                        "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.3.1/"
                    }
                }
                </script>
                <script type="module" src="../../static/js/editor.js"></script>
            </div>
            <div class="button-area">
                <label for="file">파일 업로드</label>
                <input type="file" class="form-control" id="file" name="file">
                <img id="file-preview" class="file-preview" src="" alt="" style="display: none;">
            </div>
        </div>
    
    
        <div class="button-area">
            <button class="button" type="submit">글 작성</button>
            <a class="button" href="/board/list">메인으로</a>
        </div>
    </form>
</div>

<script>
    function WriteBoard() {
        let params = new URLSearchParams({
            "title": document.querySelector("input[name=title]").value,
            "content": document.querySelector(".ck.ck-editor__main p").innerText
        });

        fetch("/board/add", {method: "POST", body: params})
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            if (data.status === "S") {
                location.href = "/board/list";
            }
        })
        .catch(error => {console.log("ERROR: ", error)});
        
        return false;
    }
</script>
{% endblock %}
