{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/board.css') }}" rel="stylesheet" />

{% endblock %}

{% block title %}상세 보기{% endblock %}

{% block content %}
{% include "nav.html" %}
<div class="form-wrapper">
    <form class="form-template quiz-detail" method="post">
        <h1 class="form-title">상세 보기</h1>
    
        <hr>
    
        <div class="form-content">
    
            <div class="form-row row-1">
                <div class="form-column header">제목</div>
                <div class="form-column"><input type="text" name="board_title" value="{{ board.title }}" disabled></div>
            </div>
            <div class="form-row row-2">
                <div class="form-column header">작성자</div>
                <div class="form-column"><input type="text" name="board_uname" value="{{ board.uname }}" disabled></div>
            </div>
            <div class="form-row row-3">
                <div class="form-column header">날짜</div>
                <div class="form-column"><input type="text" name="board_created_at" value="{{ board.created_at }}" disabled></div>
            </div>
            <div class="form-row row-4">
                <div class="form-column header">내용</div>
                <div class="form-column"><textarea name="board_content" disabled>{{ board.content }}</textarea></div>
            </div>
    
    
        </div>
    
        <hr>
    
        <div class="button-area">
            <a class="button" href="/board/edit/{{board.id}}">수정하기</a>
            <a class="button" href="/board/list?type=all">돌아가기</a>
        </div>
    </form>
</div>
{% endblock %}
