{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/board.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}게시글 수정{% endblock %}

{% block content %}
{% include "nav.html" %}

<div class="form-wrapper">
    <form class="form-template quiz-add" method="post" enctype="multipart/form-data">
        <h1 class="form-title">게시글 수정</h1>
        <hr>

        <div class="form-content">
            <div class="form-row row-1">
                <div class="form-column header">제목</div>
                <input type="text" class="form-control" id="title" name="title" value="{{ board.title }}" required>
            </div>

            <div class="form-row row-2">
                <div class="form-column header">내용</div>
                <textarea class="form-control" id="content" name="content" rows="15" required>{{ board.content }}</textarea>
            </div>

            <div class="form-row row-4">
                <div class="form-column header">첨부파일</div>
                <div class="form-column">
                    {% if board.real_file %}
                        <p>현재 첨부된 파일: {{ board.real_file }}</p>
                        <a href="{{ url_for('board.download_file', enc_file=board.enc_file) }}" class="btn btn-primary">
                            {{ board.real_file }}
                        </a>
                    {% else %}
                        <p>첨부파일이 없습니다.</p>
                    {% endif %}
                </div>
            </div>

            <div class="button-area">
                <label for="file">파일 업로드</label>
                <input type="file" class="form-control" id="file" name="file">
            </div>
        </div>

        <div class="button-area">
            <button class="button" type="submit">수정</button>
            <a class="button" href="/board/list">메인으로</a>
        </div>
    </form>
</div>
{% endblock %}
