<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제완료</title>
    <script>
        function currentDate(){
            const today = new Date();
            const year = today.getFullYear();
            const month = ('0' + (today.getMonth() + 1)).slice(-2);
            const day = ('0' + today.getDate()).slice(-2);
            const dateString = year + '-' + month + '-' + day;
            document.getElementById('currentDate').value = dateString
        }
        window.onload = currentDate;
    </script>
</head>
<body>
    <div>
        <h2>결제 완료</h2>
        <hr>
        <h4>구독 서비스 결제가 완료되었습니다.</h4>
        <hr>
        <br>
        <div>
            <img src="static/img/chatbot.png" width="800" height="500">
        </div>
        <div>
            <label>결제 금액</label>
            <input type="text" value="20,000원 / 월" readonly>
        </div>
        <div>
            <label>서비스 신청 날짜</label>
            <input type="text" id="currentDate" readonly/>
        </div>
        <br>
        <hr>
        <br>
        <br>
        <div>
            <button id="home">홈으로</button>
        </div>
        <script>
            document.getElementById('home').addEventListener('click', function() {
                console.log('dd');
                window.opener.location.href = "{{ url_for('main.index')}}";
                if (window.opener && !window.opener.closed) {
                    
                    window.opener.location.href = "{{ url_for('main.index') }}";
                }
        
                window.close();
            });
        </script>
    </div>
</body>
</html>