<div class="bg-modal" onclick="HideModalForm();" style="display: none;">
    <form class="login" onclick="event.stopPropagation();" onsubmit="return MemberLogin();">
        <div class="title">SSR21</div>
        <input type="text" class="" name="userId" placeholder="아이디" required />
        <input type="password" class="" name="userPw" placeholder="비밀번호" required />
        <button type="submit" class="btn-login">로그인</button>
        <button type="button" class="btn-register" onclick="ShowRegisterForm();">회원가입</button>
    </form>
</div>
