{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}회원 정보 수정{% endblock %}

{% block content %}
{% include "nav.html" %}
<style>
#mypage > .content > div { display: flex; align-items: center; margin-bottom: 20px; border-left: 5px solid #424D83; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
#mypage > .content > :last-child { margin-bottom: 0; }
#mypage > .content > :last-child button { width: 80px; height: 30px; border: 1px solid #CCC; border-radius: 5px; font-size: 14px; font-weight: bold; }
#mypage > .content > :last-child button:hover { background-color: #F00; color: #FFF; }
#mypage > .content > div > :nth-child(1) { flex-shrink: 0; width: 150px; font-size: 16px; font-weight: bold; color: #424D83; text-align: center; }
#mypage > .content > div input { width: 100%; height: 30px; padding-left: 5px; }
#mypage > .content > div textarea { width: 100%; height: 100px; padding: 5px; resize: none; }
#mypage > .button-area { justify-content: center; min-height: 35px; }
#mypage > .button-area > button { margin-right: 10px; }
#mypage > .button-area > :last-child { margin-right: 0; }
#mypage > .button-area > .btn-delete:hover { background-color: #F00 !important;}
</style>


<main id="form-template">
    <form id="mypage" class="frame" onsubmit="return MemberModify();">
        <div class="title">My Page</div>

        <div class="content">
            <div>
                <div>아이디</div>
                <input type="text" value="{{ user.login_id }}" disabled />
            </div>

            <div>
                <div>닉네임</div>
                <input type="text" name="user-name" value="{{ user.name }}" />
            </div>

            <div>
                <div>현재 비밀번호</div>
                <input type="password" name="user-cpw" value="" />
            </div>

            <div>
                <div>새 비밀번호</div>
                <input type="password" name="user-npw" value="" />
            </div>

            <div>
                <div>새 비밀번호 확인</div>
                <input type="password" name="user-check-npw" value="" />
            </div>

            <div>
                <div>이메일</div>
                <input type="email" name="user-email" value="{{ user.email }}" />
            </div>

            <div>
                <div>연락처</div>
                <input type="phone" name="user-phone" value="{{ user.phone }}" />
            </div>

            <div>
                <div>구독</div>
                {% if current_user.is_subscribe == 2 %}
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <b>구독중</b>
                    <button type="button" onclick="SubscribeRevoke();">취소</button>
                </div>
                {% elif current_user.is_subscribe == 1 %}
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <b>승인 대기중</b>
                    <button type="button" onclick="SubscribeRevoke();">취소</button>
                </div>
                {% else %}
                <div>미구독</div>
                {% endif %}
            </div>
        </div>

        <div class="button-area">
            <button type="button" class="btn-delete" onclick="MemberUnregister();">회원탈퇴</button>
            <div style="flex:1"></div>
            <button type="submit">수정</button>
        </div>
    </form>
</main>
{% endblock %}
