{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}관리자 페이지{% endblock %}

{% block content %}
{% include "nav.html" %}


<style>
    main { position:relative; width: 100%; padding: 50px 30px; }
    main > .frame { display: flex; width: 1200px; margin: 0 auto; padding: 30px; border: 2px solid #424D83; border-radius: 15px; }
    main > .frame > section { padding: 10px; }
    main > .frame > :nth-child(1) { flex-shrink: 0; width: 200px; }
    main > .frame > :nth-child(1) > button { width: 100%; height: 40px; margin-bottom: 10px; border-radius: 5px; background-color: #A1B0FC; font-size: 16px; font-weight: bold; color: #FFF; }
    main > .frame > :nth-child(1) > :last-child { margin-bottom: 0; }
    main > .frame > :nth-child(1) > button:hover { width: 100%; height: 40px; border-radius: 5px; background-color: #424D83; }
    main > .frame > :nth-child(1) > button.active { background-color: #424D83; }
    main > .frame > :nth-child(3) { flex: 1; }
    main > .frame > :nth-child(3) > div > :nth-child(1) { padding: 10px; border-bottom: 3px solid #424D83; font-size: 24px; font-weight: bold; color: #424D83; }
    main > .frame > :nth-child(3) > div > .table { width: 800px; margin: 50px auto; }
    main > .frame > :nth-child(3) > div > .table > .row > .cell { padding: 5px; text-align: center; }
    main > .frame > :nth-child(3) > div > .table > .row > .cell > button { padding: 0 10px; }
    main > .frame > :nth-child(3) > div > .table > .row > .cell > button:hover { color: #000; }
    
    /* 회원 관리 */
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(1) { width: 80px; }
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(2) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(3) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(4) { flex: 4; }
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(5) { flex: 4; }
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(6) { width: 100px; }

    /* 구독 관리 */
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(1) { width: 80px; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(2) { flex: 3; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(3) { flex: 3; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(4) { flex: 3; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(5) { flex: 3; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(6) { width: 100px; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(6) > button { transition: transform 0.3s ease; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(6) > button:hover { transform: translateY(-5px); }

    /* 문제 관리 */
    main > .frame > :nth-child(3) > :nth-child(4) > .table > .row > :nth-child(1) { width: 80px; }
    main > .frame > :nth-child(3) > :nth-child(4) > .table > .row > :nth-child(2) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(4) > .table > .row > :nth-child(3) { flex: 6; text-align: left; }
    main > .frame > :nth-child(3) > :nth-child(4) > .table > .row > :nth-child(4) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(4) > .table > .row > :nth-child(5) { width: 100px; }

    /* 시험 관리 */
    main > .frame > :nth-child(3) > :nth-child(5) > .table > .row > :nth-child(1) { width: 80px; }
    main > .frame > :nth-child(3) > :nth-child(5) > .table > .row > :nth-child(2) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(5) > .table > .row > :nth-child(3) { flex: 6; text-align: left; }
    main > .frame > :nth-child(3) > :nth-child(5) > .table > .row > :nth-child(4) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(5) > .table > .row > :nth-child(5) { width: 100px; }

    /* 게시판 관리 */
    main > .frame > :nth-child(3) > :nth-child(6) > .table > .row > :nth-child(1) { width: 80px; }
    main > .frame > :nth-child(3) > :nth-child(6) > .table > .row > :nth-child(2) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(6) > .table > .row > :nth-child(3) { flex: 6; text-align: left; }
    main > .frame > :nth-child(3) > :nth-child(6) > .table > .row > :nth-child(4) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(6) > .table > .row > :nth-child(5) { width: 100px; }
</style>

<script>
    window.onload = function() {
        const buttons = document.querySelectorAll("#admin-page > .frame > :nth-child(1) > button");

        buttons.forEach((button, index) => {
            button.addEventListener("click", function() {
                // 버튼 전환
                buttons.forEach(btn =>     
                    btn.classList.remove("active")
                );
                button.classList.add("active");
                

                // 메뉴 전환
                const menus = document.querySelectorAll("#admin-page > .frame > :nth-child(3) > div");
                menus.forEach(menu => menu.style.display = "none");
                menus[index].style.display = "block";
               
                if (menus[index].id == "member"){ 
                    const div = document.getElementById('member_div');
                    div.innerHTML = '';

                    let members = AdminGetMembers()

                    members.forEach((member, index) =>{
                        const row = document.createElement('div');
                        row.className='row';
                        
                        row.innerHTML =`
                        <div class="row" id="member_div">
                            <div class="cell">${loop.index}</div>
                            <div class="cell">${members.login_id}</div>
                            <div class="cell">${members.name}</div>
                            <div class="cell">${members.email}</div>
                            <div class="cell">${members.phone}</div>
                            <div class="cell">
                                <button type="button"><i type="button" class="fa-solid fa-pencil"></i></button>
                                <button type="button"><i type="button" class="fa-solid fa-trash-can"></i></button>
                            </div>
                        </div>
                        `;

                        div.appendChild(row);
                    })


                 }

                // else if (menus[index].id == "subscribe"){ AdminGetSubscribe() }
                // else if (menus[index].id == "quiz"){ AdminGetQuiz() }
                // else if (menus[index].id == "test"){ }
                // else if (menus[index].id == "board"){ AdminGetBoard() }
            });
        });
    };
</script>

<main id="admin-page">
    <div class="frame">
        <section>
            <button type="button" class="menu active">대시보드</button>
            <button type="button" class="menu">회원 관리</button>
            <button type="button" class="menu">구독 관리</button>
            <button type="button" class="menu">문제 관리</button>
            <button type="button" class="menu">시험 관리</button>
            <button type="button" class="menu">게시판 관리</button>
        </section>

        <div style="width: 2px; margin: 0 10px; background-color: #424D83;"></div>

        <section>
            <div>
                <div>대시보드</div>
                <div></div>
            </div>
 
            <div id="member" style="display: none;">
                <div>회원 관리</div>

                <div class="table">
                    <div class="row head">
                        <div class="cell">No</div>
                        <div class="cell">ID</div>
                        <div class="cell">NAME</div>
                        <div class="cell">EMAIL</div>
                        <div class="cell">PHONE</div>
                        <div class="cell">-</div>
                    </div>
                    {% for member in members %}
                    <div class="row" id="member_div">
                        <div class="cell">{{loop.index}}</div>
                        <div class="cell">{{members.login_id}}</div>
                        <div class="cell">{{members.name}}</div>
                        <div class="cell">{{members.email}}</div>
                        <div class="cell">{{members.phone}}</div>
                        <div class="cell">
                            <button type="button"><i type="button" class="fa-solid fa-pencil"></i></button>
                            <button type="button"><i type="button" class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="subscribe" style="display: none;">
                <div>구독 관리</div>

                <div class="table">
                    <div class="row head">
                        <div class="cell">No</div>
                        <div class="cell">ID</div>
                        <div class="cell">Name</div>
                        <div class="cell">Expired Date</div>
                        <div class="cell">-</div>
                    </div>

                    {% for subscribe in subscribes %}
                    <div class="row">
                        <div class="cell">{{loop.index}}</div>
                        <div class="cell">{{subscribe.id}}</div>
                        <div class="cell">{{subscribe.name}}</div>
                        <div class="cell">{{subscribe.expired_at}}</div>
                        <div class="cell">
                            <button type="button"><i class="fa-solid fa-check" style="color: #00FF00;"></i></button>
                            <button type="button"><i class="fa-solid fa-xmark" style="color: #FF0000;"></i></button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="quiz" style="display: none;">
                <div>문제 관리</div>

                <div class="table">
                    <div class="row head">
                        <div class="cell">No</div>
                        <div class="cell">Writer</div>
                        <div class="cell">Title</div>
                        <div class="cell">Created</div>
                        <div class="cell">-</div>
                    </div>

                    {% for quiz in quizzes %}
                    <div class="row">
                        <div class="cell">{{loop.index}}</div>
                        <div class="cell">{{quiz.id}}</div>
                        <div class="cell">{{quiz.question}}</div>
                        <div class="cell">{{quiz.created_at}}</div>
                        <div class="cell">
                            <button type="button"><i type="button" class="fa-solid fa-pencil"></i></button>
                            <button type="button"><i type="button" class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    {% endfor %}                    
                </div>
            </div>
            
            <div id="test" style="display: none;">
                <div>시험 관리</div>

                <div class="table">
                    <div class="row head">
                        <div class="cell">No</div>
                        <div class="cell">Writer</div>
                        <div class="cell">Title</div>
                        <div class="cell">Created</div>
                        <div class="cell">-</div>
                    </div>

                    <div class="row">
                        <div class="cell">1</div>
                        <div class="cell">admin</div>
                        <div class="cell">애플리케이션 보안 1회</div>
                        <div class="cell">2024-11-20</div>
                        <div class="cell">
                            <button type="button"><i type="button" class="fa-solid fa-pencil"></i></button>
                            <button type="button"><i type="button" class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="board" style="display: none;">
                <div>게시판 관리</div>

                <div class="table">
                    <div class="row head">
                        <div class="cell">No</div>
                        <div class="cell">Writer</div>
                        <div class="cell">Title</div>
                        <div class="cell">Created</div>
                        <div class="cell">-</div>
                    </div>
                    {% for board in boards %}
                    <div class="row">
                        <div class="cell">{{board.id}}</div>
                        <div class="cell">{{board.author}}</div>
                        <div class="cell">{{board.title}}</div>
                        <div class="cell">{{board.created_at}}</div>
                        <div class="cell">
                            <button type="button" data-id="{{ board.id }}" onclick='AdminEditBoard(this)'><i type="button" class="fa-solid fa-pencil"></i></button>
                            <button type="button" data-id="{{ board.id }}" onclick="AdminDeleteBoard(this)"><i type="button" class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </section>
    </div>
</main>
{% endblock %}
