{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}SSR21 문제은행{% endblock %}

{% block content %}
{% include "nav.html" %}


<style>
    main { position:relative; width: 100%; padding: 50px 30px; }
    main > .frame { display: flex; width: 1200px; margin: 0 auto; padding: 30px; border: 2px solid #424D83; border-radius: 15px; }
    main > .frame > section { padding: 10px; }
    main > .frame > :nth-child(1) { flex-shrink: 0; width: 200px; }
    main > .frame > :nth-child(1) > button { width: 100%; height: 40px; margin-bottom: 10px; border-radius: 5px; background-color: #A1B0FC; font-size: 16px; font-weight: bold; color: #FFF; }
    main > .frame > :nth-child(1) > :last-child { margin-bottom: 0; }
    main > .frame > :nth-child(1) > button:hover { width: 100%; height: 40px; border-radius: 5px; background-color: #424D83; }
    main > .frame > :nth-child(1) > button.active { background-color: #424D83; }
    main > .frame > :nth-child(3) { flex: 1; }
    main > .frame > :nth-child(3) > div > :nth-child(1) { padding: 10px; border-bottom: 3px solid #424D83; font-size: 24px; font-weight: bold; color: #424D83; }
    main > .frame > :nth-child(3) > div > .table { width: 800px; margin: 50px auto; }
    main > .frame > :nth-child(3) > div > .table > .row > .cell { padding: 5px; text-align: center; }
    main > .frame > :nth-child(3) > div > .table > .row > .cell > button { padding: 0 10px; }
    main > .frame > :nth-child(3) > div > .table > .row > .cell > button:hover { color: #000; }
    
    /* 대시보드 */
    main > .frame > :nth-child(3) > :nth-child(1) > .table-1 > .row > :nth-child(1) { flex: 1; }
    main > .frame > :nth-child(3) > :nth-child(1) > .table-1 > .row > :nth-child(2) { flex: 1; }
    main > .frame > :nth-child(3) > :nth-child(1) > .table-1 > .row > :nth-child(3) { flex: 1; }
    main > .frame > :nth-child(3) > :nth-child(1) > .table-2 > .row > :nth-child(1) { flex: 1; }
    main > .frame > :nth-child(3) > :nth-child(1) > .table-2 > .row > :nth-child(2) { flex: 1; }
    main > .frame > :nth-child(3) > :nth-child(1) > .table-2 > .row > :nth-child(3) { flex: 1; }

    /* 회원 관리 */
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(1) { width: 80px; }
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(2) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(3) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(4) { flex: 4; }
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(5) { flex: 4; }
    main > .frame > :nth-child(3) > :nth-child(2) > .table > .row > :nth-child(6) { width: 100px; }

    /* 구독 관리 */
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(1) { width: 80px; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(2) { flex: 1; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(3) { flex: 1; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(4) { width: 100px; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(4) > button { transition: transform 0.3s ease; }
    main > .frame > :nth-child(3) > :nth-child(3) > .table > .row > :nth-child(4) > button:hover { transform: translateY(-5px); }

    /* 문제 관리 */
    main > .frame > :nth-child(3) > :nth-child(4) > .table > .row > :nth-child(1) { width: 80px; }
    main > .frame > :nth-child(3) > :nth-child(4) > .table > .row > :nth-child(2) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(4) > .table > .row > :nth-child(3) { flex: 6; text-align: left; }
    main > .frame > :nth-child(3) > :nth-child(4) > .table > .row > :nth-child(4) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(4) > .table > .row > :nth-child(5) { width: 100px; }

    /* 시험 관리 */
    main > .frame > :nth-child(3) > :nth-child(5) > .table > .row > :nth-child(1) { width: 80px; }
    main > .frame > :nth-child(3) > :nth-child(5) > .table > .row > :nth-child(2) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(5) > .table > .row > :nth-child(3) { flex: 6; text-align: left; }
    main > .frame > :nth-child(3) > :nth-child(5) > .table > .row > :nth-child(4) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(5) > .table > .row > :nth-child(5) { width: 100px; }

    /* 게시판 관리 */
    main > .frame > :nth-child(3) > :nth-child(6) > .table > .row > :nth-child(1) { width: 80px; }
    main > .frame > :nth-child(3) > :nth-child(6) > .table > .row > :nth-child(2) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(6) > .table > .row > :nth-child(3) { flex: 6; text-align: left; }
    main > .frame > :nth-child(3) > :nth-child(6) > .table > .row > :nth-child(4) { flex: 2; }
    main > .frame > :nth-child(3) > :nth-child(6) > .table > .row > :nth-child(5) { width: 100px; }


</style>


<main id="admin-page">
    <div class="frame">
        <section>
            <button type="button" class="menu active">대시보드</button>
            <button type="button" class="menu">회원 관리</button>
            <button type="button" class="menu">구독 관리</button>
            <button type="button" class="menu">문제 관리</button>
            <button type="button" class="menu">시험 관리</button>
            <button type="button" class="menu">게시판 관리</button>
        </section>

        <div style="width: 2px; margin: 0 10px; background-color: #424D83;"></div>

        <section>
            <div>
                <div>대시보드</div>

                <div class="table table-1">
                    <div class="row head">
                        <div class="cell">회원 수</div>
                        <div class="cell">문제 수</div>
                        <div class="cell">과목 수</div>
                    </div>
                </div>
                
                <div class="table table-2">
                    <div class="row head">
                        <div class="cell">미구독자</div>
                        <div class="cell">승인대기</div>
                        <div class="cell">구독자</div>
                    </div>
                </div>
            </div>
 
            <div style="display: none;">
                <div>회원 관리</div>

                <div class="table">
                    <div class="row head">
                        <div class="cell">No</div>
                        <div class="cell">ID</div>
                        <div class="cell">NAME</div>
                        <div class="cell">EMAIL</div>
                        <div class="cell">PHONE</div>
                        <div class="cell">Actions</div>
                    </div>
                </div>
            </div>

            <div style="display: none;">
                <div>구독 관리</div>

                <div class="table">
                    <div class="row head">
                        <div class="cell">No</div>
                        <div class="cell">ID</div>
                        <div class="cell">Name</div>
                        <div class="cell">Actions</div>
                    </div>
                </div>
            </div>

            <div style="display: none;">
                <div>문제 관리</div>

                <div class="table">
                    <div class="row head">
                        <div class="cell">No</div>
                        <div class="cell">Writer</div>
                        <div class="cell">Title</div>
                        <div class="cell">Created</div>
                        <div class="cell">Actions</div>
                    </div>

                    <div class="row">
                        <div class="cell">1</div>
                        <div class="cell">admin</div>
                        <div class="cell">다음중 올바르지 않은 것을 고르시오.</div>
                        <div class="cell">2024-11-20</div>
                        <div class="cell">
                            <button type="button"><i type="button" class="fa-solid fa-pencil"></i></button>
                            <button type="button"><i type="button" class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="display: none;">
                <div>시험 관리</div>

                <div class="table">
                    <div class="row head">
                        <div class="cell">No</div>
                        <div class="cell">Writer</div>
                        <div class="cell">Title</div>
                        <div class="cell">Created</div>
                        <div class="cell">Actions</div>
                    </div>

                    <div class="row">
                        <div class="cell">1</div>
                        <div class="cell">admin</div>
                        <div class="cell">애플리케이션 보안 1회</div>
                        <div class="cell">2024-11-20</div>
                        <div class="cell">
                            <button type="button"><i type="button" class="fa-solid fa-pencil"></i></button>
                            <button type="button"><i type="button" class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="display: none;">
                <div>게시판 관리</div>

                <div class="table">
                    <div class="row head">
                        <div class="cell">No</div>
                        <div class="cell">Writer</div>
                        <div class="cell">Title</div>
                        <div class="cell">Created</div>
                        <div class="cell">Actions</div>
                    </div>

                    <div class="row">
                        <div class="cell">1</div>
                        <div class="cell">admin</div>
                        <div class="cell">공지사항입니다.</div>
                        <div class="cell">2024-11-20</div>
                        <div class="cell">
                            <button type="button"><i type="button" class="fa-solid fa-pencil"></i></button>
                            <button type="button"><i type="button" class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        function getDataDashboard() {
            fetch("/admin/get-data/dashboard")
            .then(response => response.json())
            .then(data => {
                console.log(JSON.stringify(data));
                const table1 = document.querySelector("main > .frame > :nth-child(3) > :nth-child(1) > .table-1");
                const table2 = document.querySelector("main > .frame > :nth-child(3) > :nth-child(1) > .table-2")
                if (data.length === 0) {;
                    const row = document.createElement("div");
                    row.classList.add("row");
                    row.innerHTML = '<div class="cell" style="flex:1">데이터가 없습니다.</div>';
                    table1.appendChild(row);
                    table2.appendChild(row);
                }
                else {
                    const row1 = document.createElement("div");
                    row1.classList.add("row");
                    row1.innerHTML = `
                        <div class="cell">${data.data.num_of_users}</div>
                        <div class="cell">${data.data.num_of_quizzes}</div>
                        <div class="cell">${data.data.num_of_subjects}</div>
                    `;
                    table1.appendChild(row1);
                    
                    const row2 = document.createElement("div");
                    row2.classList.add("row");
                    row2.innerHTML = `
                        <div class="cell">${data.data.subscribe_info[0].num}</div>
                        <div class="cell">${data.data.subscribe_info[1].num}</div>
                        <div class="cell">${data.data.subscribe_info[2].num}</div>
                    `;
                    table2.appendChild(row2);
                }
            })
        }

        function getSubscribeRequest() {
            fetch("/admin/api/get_subscribe_request")
            .then(response => response.json())
            .then(data => {
                const table = document.querySelector("main > .frame > :nth-child(3) > :nth-child(3) > .table");

                if (data.length === 0) {
                    const row = document.createElement("div");
                    row.classList.add("row");
                    row.innerHTML = `
                        <div class="cell" style="flex:1">데이터가 없습니다.</div>
                    `;
                    table.appendChild(row);
                }
                else {
                    data.forEach((user, index) => {
                        const row = document.createElement("div");
                        row.classList.add("row");
    
                        row.innerHTML = `
                            <div class="cell">${user.id}</div>
                            <div class="cell">${user.login_id}</div>
                            <div class="cell">${user.name}</div>
                            <div class="cell">
                                <button type="button" onclick='ApproveSubscribeRequest(${user.id});'><i class="fa-solid fa-check" style="color: #00FF00;"></i></button>
                                <button type="button" onclick='RejectSubscribeRequest(${user.id});'><i class="fa-solid fa-xmark" style="color: #FF0000;"></i></button>
                            </div>
                        `;
    
                        table.appendChild(row);
                    })
                }
            })
        }

        function getUsers() {
            fetch("/admin/api/get_users")
            .then(response => response.json())
            .then(data => {
                const table = document.querySelector("main > .frame > :nth-child(3) > :nth-child(2) > .table");

                if (data.length === 0) {
                    const row = document.createElement("div");
                    row.classList.add("row");
                    row.innerHTML = `
                        <div class="cell" style="flex:1">데이터가 없습니다.</div>
                    `;
                    table.appendChild(row);
                }
                else {
                    data.forEach((user, index) => {
                        const row = document.createElement("div");
                        row.classList.add("row");
    
                        row.innerHTML = `
                            <div class="cell">${user.id}</div>
                            <div class="cell">${user.login_id}</div>
                            <div class="cell">${user.name}</div>
                            <div class="cell">${user.email}</div>
                            <div class="cell">${user.phone ? user.phone : "-"}</div>
                            <div class="cell">
                                <button type="button"><i type="button" class="fa-solid fa-pencil"></i></button>
                                <button type="button"><i type="button" class="fa-solid fa-trash-can"></i></button>
                            </div>
                        `;
    
                        table.appendChild(row);
                    })
                }
            })
        }

        window.onload = function() {
            const buttons = document.querySelectorAll("#admin-page > .frame > :nth-child(1) > button");
    
            buttons.forEach((button, index) => {
                button.addEventListener("click", function() {
                    // 버튼 전환
                    buttons.forEach(btn => btn.classList.remove("active"));
                    button.classList.add("active");
    
                    // 메뉴 전환
                    const menus = document.querySelectorAll("#admin-page > .frame > :nth-child(3) > div");
                    menus.forEach(menu => menu.style.display = "none");
                    menus[index].style.display = "block";
                });
            });

            getDataDashboard();
            getSubscribeRequest();
            getUsers();
        };

        function DisplayMenu(index) {
            const buttons = document.querySelectorAll("#admin-page > .frame > :nth-child(1) > button");
            const menus = document.querySelectorAll("#admin-page > .frame > :nth-child(3) > div");
            menus.forEach(menu => menu.style.display = "none");
            menus[index].style.display = "block";
        }

        // 구독 관련 함수
        function ApproveSubscribeRequest(userID) {
            fetch(`/subscribe/api/add/${userID}`)
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                if (data.status === 'S') {
                    location.reload();
                    DisplayMenu(2);
                }
            })
            .catch(error => {
                console.error('Error approving member:', error);
                alert('오류가 발생했습니다.');
            });
        }

        function RejectSubscribeRequest(userID) {
            fetch(`/subscribe/api/remove/${userID}`)
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                if (data.status === 'S') {
                    location.reload();
                    DisplayMenu(2);
                }
            })
            .catch(error => {
                console.error('Error reject member:', error);
                alert('오류가 발생했습니다.');
            });
        }
    </script>
</main>
{% endblock %}
