{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}SSR21 문제은행{% endblock %}

{% block content %}
{% include "nav.html" %}


<main class="page">
    <div class="content">
        <div class="item item-1">
            <p style="line-height: 1;">SK Shieldus Rookies 문제은행</p>
            <p>클라우드기반 스마트 융합보안과정 21기</p>
            {% if current_user.is_authenticated %}
            {% if current_user.is_subscribe == 1 %}
            <button type="button" class="btn-subscribe disable" onclick="alert('입금 확인중입니다')"><i class="fa-solid fa-bell fa-lg"></i>구독하기</button>
            {% elif current_user.is_subscribe == 2 %}
            <button type="button" class="btn-subscribe enable" ><i class="fa-solid fa-bell fa-lg"></i>구독중</button>
            {% else %}
            <button type="button" class="btn-subscribe disable" onclick=location.href="{{ url_for('subscribe.index') }}"><i class="fa-solid fa-bell fa-lg"></i>구독하기</button>
            {% endif %}
            {% endif %}
        </div>
        <div class="item item-2"><img src="{{ url_for('static', filename='img/structure.png') }}" /></div>
    </div>
</main>
{% endblock %}
