{% extends "base.html" %}

{% block head %}
<style>
    /* One Page Template */
    body { overflow: hidden; }

    #page-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #page-container > .page {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: start;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        transition: bottom .5s;
    }

    #pagination-container {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    #pagination-container > li {
        cursor: pointer;
        list-style: none;
        width: 10px;
        height: 10px;
        margin-top: 10px;
        border-radius: 50%;
        background-color: #DDD;
        transition: background .5s;
    }

    #pagination-container > li.active {
        background-color: #222;
    }

    /* Page 1 */
    #page1::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../../static/img/header-bg.png');
        z-index: -1;
    }

    #page1 > .row {
        width: 1200px;
        margin-top: 10%;
    }

    #page1 > .row > * {
        width: 50%;
    }

    #page1 > .row img {
        width: 100%;
    }

    #page1 > .row p {
        font-weight: bold;
        color: white;
        word-break: keep-all;
    }

    #page1 > .row .main-title {
        font-size: 44px;
        margin-bottom: 20px;
    }

    #page1 > .row .sub-title {
        font-size: 22px;
    }

    @media screen and (max-width: 768px) {
        #page1 > .row {
            flex-wrap: wrap;
        }

        #page1 > .row > * {
            width: 100%;
        }

        #page1 > .row p {
            text-align: center;
        }

        #page1 > .row .main-title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        #page1 > .row .sub-title {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 1000px) {
        #page1 > .row > div:first-child {
            margin-bottom: 10%;
        }

        #page1 > .row img {
            width: 440px;
        }
    }

    /* Page 2 */
    #page2 > .row {
        width: 1200px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #page2 .title {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        font-size: 48px;
        color: #424D83;
    }

    #page2 .card-area {
        display: flex;
    }

    #page2 .card {
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        padding: 30px;
        border: 3px solid #A1B0FC;
        border-radius: 8px;
        color: #A1B0FC;
        margin: 20px;
    }

    #page2 .card:hover {
        border-color: #424D83;
        color: #424D83;
    }

    #page2 .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    #page2 .icon > i::before {
        display: block;
        box-sizing: border-box;
        width: 100px;
        font-size: 80px;
        text-align: center;
    }

    #page2 .card .menu {
        width: 100px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    @media screen and (max-width: 1260px) {
        #page2 > .row {
            height: auto;
        }

        #page2 .card-area {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
    /* css 수정부분 - chatbot */
    .chatbot__icon {
        width: 100px; /* 버튼 안에서 이미지의 크기를 조정 */
        height: 100px;
        object-fit: contain;
        
    }
    .chatbot__redirect-button {
        box-sizing: border-box;
        position: fixed;
        bottom: 20px;
        right: 20px;

        border: 10px solid royalblue;
        border-radius: 100%;
        background: white;
        color: white;
        font-weight: bold;
        box-shadow: 0px 5px 10px gray;
        cursor: pointer;
    }

    /* page3 */
    #page3 > .row {
        width: 1200px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #page3 .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    #page3 .header {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    #page3 .imgbox {
        position: relative;
        margin-bottom: 20px;
        height: 200px;
        width: 600px;
    }

    #page3 .text-overlay, #page3 .text-overlay2 {
        position: absolute;
        top: 20px; 
        left: 20px; 
        color: #fff;
        font-size: 20px;
        z-index: 10;
        text-align: center;
       
    }

    #page3 .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20px;
        z-index: 20;
        text-align: center;
        font-size: 20px;
    }

    #page3 .text-overlay2{
        position: absolute;
        top: 30%;
        left: 20px;
        color: #fff;
        font-size: 15px;
        z-index: 20;
        text-align: left;
        font-size: 15px;
    }

    #page3 .p1 {
        font-size: 20px;
    }

    #page3 .p2 {
        font-size:15px;
    }

    #page3 .purchase-button {
        width: 100%;
        height: 69px;
        background: #22408f;
        color: #fff;
        font-size: 16px;
        line-height: 69px;
        text-align: center;
        text-decoration: none;
        display: block;
        border-radius: 5px;
        font-weight: bold;
    }

    @media screen and (max-width: 1260px) {
        #page3 > .row {
            height: auto;
            display: flex;
        }

        
    }



</style>
{% endblock %}

{% block title %}SSR21 문제은행{% endblock %}

{% block content %}
{% include "nav.html" %}

{% if current_user.is_authenticated %}
<main id="page-container" class="">
    <section id="page1" class="page">
        <div id="" class="row">
            <div id="" class="flex-c v-center">
                <p id="" class="main-title">SK Shieldus Rookies 문제은행</p>
                <p id="" class="sub-title">클라우드기반 스마트 융합보안과정 21기</p>
            </div>
            <div id="" class="flex-c h-center">
                <img src="static/img/structure.png" alt="">
            </div>
        </div>
    </section>

    <section id="page2" class="page">
        <div id="" class="row">
            <h1 class="title">Menu</h1>
            <div class="card-area">
                <a class="card" href="{{ url_for('quiz.quiz_add') }}">
                    <div class="icon"><i class="fa-solid fa-file-circle-plus"></i></div>
                    <p class="menu">문제 추가</p>
                </a>
                
                <a class="card" href="{{ url_for('quiz.quiz_list', type='authorized') }}">
                    <div class="icon"><i class="fa-solid fa-list"></i></div>
                    <p class="menu">나의 문제</p>
                </a>
                
                <a class="card" href="{{ url_for('quiz.quiz_list', type='all') }}">
                    <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <p class="menu">문제 찾기</p>
                </a>
                
                <a class="card" href="{{ url_for('exam.exam_list') }}">
                    <div class="icon"><i class="fa-solid fa-scroll"></i></div>
                    <p class="menu">시험 보기</p>
                </a>
                
                {% if session["subscribe"] == 1 %}
                <a class="card" href="{{ url_for('lecture.lecture_list') }}">
                    <div class="icon"><i class="fa-solid fa-video"></i></div>
                    <p class="menu">강의 보기</p>
                </a>
                {% else %}
                <a class="card" onclick="alert('구독자만 볼 수 있습니다.')">
                    <div class="icon"><i class="fa-solid fa-video"></i></div>
                    <p class="menu">강의 보기</p>
                </a>
                {% endif %}

                <a class="card" href="{{ url_for('board.board_list') }}">
                    <div class="icon"><i class="fa-regular fa-clipboard"></i></div>
                    <p class="menu">자유게시판</p>
                </a>
            </div>
        </div>
    </section>


    <section id="page3" class="page">
        <div id="" class="row">
            <div class="container">
                <!-- 헤더 -->
                <div class="header">챗봇 구독 서비스</div>
        
                <!-- 구독 서비스 설명 -->
                <div class="imgbox">
                    <img src="{{ url_for('static', filename='img/600x600.crop.jpg') }}" style="width: 100%; height: 200px; border-radius: 10px; object-fit: cover;">
                    <div class="text-overlay">
                        <p style="font-size: 20px;">ChatBot</p>
                        <p style="font-size: 20px;">챗봇 구독 서비스</p><br>
                        <p style="font-size: 20px;">챗봇을 통해 문제풀이를 검색하고<br>문제 해설을 빠르게 확인할 수 있습니다.</p>
                    </div>
                </div>
        
                <!-- 구독 서비스 금액 안내 -->
                <div class="imgbox">
                    <img src="{{ url_for('static', filename='img/600x600.crop.jpg') }}" style="width: 100%; height: 200px; border-radius: 10px; object-fit: cover;">
                    <div class="text-overlay2">
                        <p style="font-size: 15px;">월 2만원으로 무제한 챗봇 구독 서비스</p><br>
                        <p style="font-size: 20px;">1개월 / 20,000원</p><br>
                        <p style="font-size: 15px;">빠른 문제풀이 검색</p><br>
                        <span style="font-size: 15px;">실시간으로 원하는 문제의 해설을 빠르게 확인하고 싶은 분께 추천합니다.</span>
                        </p>
                    </div>
                </div>
        
                <!-- 구매하기 버튼 -->
                <a href="{{ url_for('subscribe.payment') }}" class="purchase-button">구매하기</a>
            </div>
        </div>

    </section>

</main>
<a href="{{ url_for('chatbot.index') }}" target="_blank" class="chatbot__redirect-button">
    <picture>
      <img
          src="static/img/chatbot_icon.png"
        alt="챗봇 아이콘"
        class="chatbot__icon"
      />
    </picture>
</a>
<div id="pagination-container" class=""></div>
<script>
    window.onload = () => {
        const pageContainer = document.getElementById('page-container');
        const paginationContainer = document.getElementById('pagination-container');
        const pages = pageContainer.children;

        let currentPage = 0;
        let lastPage = pages.length;
        let movingPage = false;
        let pageButtons = [];

        const gotoPage = (index) => {
            if ((index != currentPage) && !movingPage) {
                movingPage = true;
                setTimeout(() => movingPage = false, 500);
                
                pageButtons[currentPage].classList.remove('active');
                currentPage = index;
                pageButtons[currentPage].classList.add('active');

                for (let i = 0; i < lastPage; ++i) {
                    pages[i].style.bottom = ((currentPage - i) * 100) + '%';
                }
            }
        }

        const prevPage = () => ((currentPage > 0) ? gotoPage(currentPage - 1) : false);
        const nextPage = () => ((currentPage < (lastPage - 1)) ? gotoPage(currentPage + 1) : false);
        
        pageContainer.ontouchstart = (e) => touchstart = e.touches[0].screenY;
        pageContainer.ontouchend = (e) => ((touchstart < e.changedTouches[0].screenY) ? prevPage() : nextPage());
        pageContainer.onmousewheel = pageContainer.onwheel = (e) => ((e.deltaY < 0) ? prevPage() : nextPage());
        
        for (let i = 0; i < lastPage; ++i) {
            pages[i].style.bottom = -(i * 100) + '%';
            
            if (paginationContainer) {
                let button = document.createElement('li');
                button.dataset.page_num = i;
                button.addEventListener('click', (e) => gotoPage(parseInt(e.target.dataset.page_num)));
                pageButtons.push(button);
                paginationContainer.appendChild(button);
            }
        }

        if (paginationContainer) {
            pageButtons[0].classList.add('active');
        }
    }
</script>
{% else %}
<main id="page-container" class="">
    <section id="page1" class="page">
        <div id="" class="row">
            <div id="" class="flex-c v-center">
                <p id="" class="main-title">SK Shieldus Rookies 문제은행</p>
                <p id="" class="sub-title">클라우드기반 스마트 융합보안과정 21기</p>
            </div>
            <div id="" class="flex-c h-center">
                <img src="static/img/structure.png" alt="">
            </div>
        </div>
    </section>
</main>
{% endif %}
{% endblock %}
