{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" />

<style>
    body { overflow: auto; }
</style>
{% endblock %}

{% block title %}강의 목록{% endblock %}

{% block content %}
{% include "nav.html" %}
<div class="form-wrapper form-quiz-list">
    <div class="form-template quiz-list">
        <h1 class="form-title">강의 목록</h1>

        <div class="form-content">
            <div class="form-row header">
                <div class="form-column subject">과목</div>
                <div class="form-column question">강의 이름</div>
                <div class="form-column actions">수정 / 삭제</div>
            </div>
            {% if lectures | length == 0 %}
                <div class="form-row">
                    <div class="form-column" style="margin: 0 auto;">데이터가 없습니다.</div>
                </div>
            {% else %}
                {% for lecture in lectures %}
                    <div class="form-row">
                        <div class="form-column subject">{{ lecture.subject_name }}</div>
                        <div class="form-column question">
                            <a href="{{ url_for('lecture.lecture_detail', id=loop.index0) }}">{{ lecture.lecture_name }}</a>
                        </div>
                        <div class="form-column actions">
                            {% if current_user.id == 'admin' %}
                                <form action="{{ url_for('lecture.lecture_edit', id=loop.index0) }}" method="get" style="display:inline;">
                                    <button class="button" type="submit">수정</button>
                                </form>
                                <form action="{{ url_for('lecture.lecture_delete', id=loop.index0) }}" method="post" style="display:inline;">
                                    <button class="button" type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="button-area">
            {% if current_user.id == 'admin' %}
                <a class="button" type="button" onclick="location.href='/add'">추가</a>
            {% endif %}
            <a class="button" type="button" onclick="location.href='/'">메인으로</a>
        </div>
    </div>
</div>

<script>
    function Search() {
        let keyword = document.querySelector("input[name='keyword']");

        if (keyword) {
            location.href = "{{ url_for('lecture.lecture_list', type=type) }}" + "&keyword=" + keyword.value;
        }

        return false;
    }
</script>
{% endblock %}
