{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" />

<style>
    body { background-color: #424D83; }
    iframe {
        width: 100%;
        height: 500px;
        border: none;
        user-select: none; /* 사용자가 텍스트나 경로를 선택하지 못하도록 설정 */
    }
</style>
{% endblock %}

{% block title %}강의 보기{% endblock %}

{% block content %}
{% include "nav.html" %}
<div class="form-wrapper">
    <div class="form-template quiz-add">
        {% autoescape false %}
        <h1 class="form-title">{{ lecture.subject_name }} - {{ lecture.lecture_name }}</h1>
        <div class="lecture-content">
            <iframe src="{{ video_url }}" oncontextmenu="return false;"></iframe> <!-- 동영상을 iframe으로 표시 -->
        </div>
        {% endautoescape %}
        <div class="button-area">
            <a class="button" href="{{ url_for('lecture.lecture_list') }}">목록으로</a>
        </div>
    </div>
</div>
<script>
    // 키보드 단축키를 통한 텍스트 선택 방지
    document.addEventListener('keydown', function(event) {
        if (event.ctrlKey && (event.key === 'u' || event.key === 's' || event.key === 'c')) {
            event.preventDefault();
        }
    });
</script>
{% endblock %}
