{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" />

<style>
    body { overflow: auto; }

    .edit-button, .delete-button {
        width: 40px;
        height: 25px;
        background: #6f7275;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 8px;
        border-color: #6f7275;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
        margin-top: 0px;
        margin-right: 3px;
    }

    .edit-button:hover {
        background-color: #a1a6ac;
    }

    .delete-button {
        background: #d30000;
        border-color: #d30000;
    }

   
    .delete-button:hover {
        background-color: #d65252;
    }

</style>
{% endblock %}

{% block title %}강의 목록{% endblock %}

{% block content %}
{% include "nav.html" %}
<div class="form-wrapper form-quiz-list">
    <div class="form-template quiz-list">
        <h1 class="form-title">강의 목록</h1>
        <form class="search-area" onsubmit="return Search()">
            <div>
                <input type="search" name="keyword">
                <button class="button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
        <div class="form-content">
            <div class="form-row header">
                <div class="form-column subject">과목</div>
                <div class="form-column question">강의 이름</div>
                <div class="form-column actions"></div>
            </div>
            {% if lectures | length == 0 %}
                <div class="form-row">
                    <div class="form-column" style="margin: 0 auto;">데이터가 없습니다.</div>
                </div>
            {% else %}
                {% for lecture in lectures %}
                    <div class="form-row">
                        <div class="form-column subject">{{ lecture.subject_name }}</div>
                        <div class="form-column question">
                            <a href="{{ url_for('lecture.lecture_detail', id=loop.index0) }}">{{ lecture.lecture_name }}</a>
                        </div>
                        <div class="form-column actions">
                            {% if current_user.name == 'admin' %}
                                <form action="{{ url_for('lecture.lecture_edit', id=loop.index0) }}" method="get" style="display:inline;">
                                    <button class="edit-button" type="submit">수정</button>
                                </form>
                                <form action="{{ url_for('lecture.lecture_delete', id=loop.index0) }}" method="post" style="display:inline;">
                                    <button class="delete-button" type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="form-pagination">
            {% for p in range(start_page, end_page + 1) %}
            {% if p == page %}
            <strong>{{ p }}</strong>
            {% else %}
            <a href="{{ url_for('lecture.lecture_list', page=p, type=type)}}">{{ p }}</a>
            {% endif %}
            {% endfor %}
        </div>

        <div class="button-area">
            {% if current_user.name == 'admin' %}
                <a class="button" type="button" onclick="location.href='/add'">추가</a>
            {% endif %}
            <a class="button" type="button" onclick="location.href='/'">메인으로</a>
        </div>
    </div>
</div>

<script>
    function Search() {
        let keyword = document.querySelector("input[name='keyword']");

        if (keyword) {
            location.href = "{{ url_for('lecture.lecture_list', type=type) }}" + "&keyword=" + keyword.value;
        }

        return false;
    }
</script>
{% endblock %}
